certifi==2024.2.2
charset-normalizer==3.3.2
confluent-kafka==2.4.0
croniter==2.0.5
greenlet==3.0.3
idna==3.7
jsons==1.6.3
numpy==1.26.4
pandas==2.2.2
psycopg2-binary==2.9.9
python-dateutil==2.9.0.post0
pytz==2024.1
requests==2.32.2
six==1.16.0
SQLAlchemy==2.0.30
typing_extensions==4.11.0
typish==1.9.3
tzdata==2024.1
urllib3==2.2.1
