[Unit]
Description=Land Registry Data target
Wants=land_registry_cron_trigger.service land_registry_complete_downloader.service land_registry_monthly_update_downloader.service land_registry_monthly_update_sha256_calculator.service land_registry_monthly_update_data_decision.service land_registry_monthly_update_database_updater.service land_registry_monthly_update_garbage_collector.service
After=land_registry_cron_trigger.service land_registry_complete_downloader.service land_registry_monthly_update_downloader.service land_registry_monthly_update_sha256_calculator.service land_registry_monthly_update_data_decision.service land_registry_monthly_update_database_updater.service land_registry_monthly_update_garbage_collector.service
