[Unit]
Description=Land Registry Monthly Update Downloader service
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=60
User=propertyprice
Group=propertyprice
EnvironmentFile=/etc/property_price_env
WorkingDirectory=/var/log/property-price-land-registry-download
StandardOutput=append:/var/log/property-price-land-registry-download/land_registry_monthly_update_downloader.log
StandardError=append:/var/log/property-price-land-registry-download/land_registry_monthly_update_downloader.error.log
ExecStart=/usr/local/bin/property-price-land-registry-download/.venv/bin/python3 /usr/local/bin/property-price-land-registry-download/land_registry_monthly_update_downloader.py
ExecStop=/bin/kill -TERM $MAINPID

[Install]
WantedBy=land_registry_data.target
